<section class="inner-section-step">
  <div class="progress my-3">
    <div class="progress-done progress-bar-animated" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Deductions-Value</div>
  </div>
  <br>
  



  <div class="blue steps step-shadow-box step-shadow-box-1">
    <div class="p-3 bg-white shadow-lg rounded-sm">
              <br>
              <h5 class="heading-H">Deductions Under Section 80</h5>
              <hr class="separator--line" />
              <br>
              <p class="heading-description">This section consists of interest income, dividend income, agricultural income and all other incomes excluding salary, income from house property or capital gains or business/profession.</p>  
  
              
              <br>
              <br>
              <div class="card">
                <div class="card-body">
                
                    <h6 class="heading-content">Investments under Section 80C</h6>
                    <p class="heading-description">You can claim a deduction of upto Rs. 1,50,000 under this section.<br> 
                      Add up all your 80C deduction and specify total amount here.</p>
                      

                      <div class="gap">
                        <div class="row justify-content-between">
                          <div class="form-group col-md-4">
                            <h5 class="heading-label">Investment for Section 80C</h5>
                          </div>
                          <div class="form-group col-md-4">
                            <input type="text" class="form-control"  required>
                          </div>
                        </div>
                        <p class="heading-description-1">Section 80C includes contributions to LIC / Insurance premium, PPF, EPF, NSC, ELSS Mutual Funds, Children school fees, Payment of Principal in Housing Loan & other eligible items.</p>
                      </div>
                  
                  </div>
              </div>
<br>
<br>

              <div class="card">
                <div class="card-body">
                  <h6 class="heading-content">Section 80TTA: Deduction for Interest earned on Savings Bank Account</h6>
                  <p class="heading-description">You can claim a deduction of upto Rs. 1,50,000 under this section.<br> 
                  Add up all your 80C deduction and specify total amount here.</p>
                  
                  <div class="gap">
                     <div class="row justify-content-between">
                      <div class="form-group col-md-4">
                        <h5 class="heading-label">Interest earned on Savings Bank Account </h5>
                      </div>
                      <div class="form-group col-md-4">
                        <input type="text" class="form-control"  required>
                      </div>
                    </div>
                    <p class="heading-description-1">You do not need to enter a value for the 80TTA deduction here.
                      ClearTax automatically picks it up from your declared interest income from Saving Bank account and Post office deposits..</p>
                    </div>
                  </div>
              </div>

 <br>
                <div class="card">
                  <div class="card-body">
                  <h6 class="heading-content">Section 80G : Donations to charitable organizations</h6>
                  <div class="row justify-content-around">
                  <button class="btn btn-primary btn-large" type="button">Add or Remove Donation under Section 80G</button>
                  <p class="heading-description mt-5">The government requires itemized details of donations for Section 80G.</p>
                  
                </div>
                  
                </div>
                </div>


          

  
    </div>
  </div>
</section>






