<section class="inner-section-step">
  <div class="progress my-3">
    <div class="progress-done progress-bar-animated" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Personal-Info</div>
  </div>
  <br>
  
  <div class="blue steps step-shadow-box step-shadow-box-1">
    <div class="p-3 bg-white shadow-lg rounded-sm">
      <br>
      <h5 class="heading-H">Income Sources:Salary</h5>
      <hr class="separator--line" />
      <br>
      
            
      <div class="card">
        <div class="card-body">
          <h6 class="heading-content">Employer Details</h6>
         
                        <div class="gap">
                        <div class="row justify-content-between">
                          <div class="form-group col-md-4">
                            <h5 class="heading-label">Employer's Name</h5>
                          </div>
                          <div class="form-group col-md-4">
                            <input type="text" class="form-control"  required>
                          </div>
                        </div>
                        <p class="heading-description-1">The name of Company / Organization</p>
                        </div>
                        <div class="gap">
            <div class="row justify-content-between">
              <div class="form-group col-md-4">
                <h5 class="heading-label">Organization's Category</h5>
              </div>
              <div class="form-group col-md-4">
                <select name="E_category" id="category" class="form-control">
                  <option value="private">Private</option>
                  <option value="centralGovernment">Central Government</option>
                  <option value="stateGovernment">State Government</option>
                  <option value="public">Public Sector Unit</option>
                  <option value="Pensioner">Pensioner</option>
                </select>
              </div>
            </div>
                        </div>
   
        </div>
      </div>
      
      
      
<br>
      
      
      <div class="card">
  <div class="card-body">
    <h6 class="heading-content">Gross Salary</h6>
    <p class="heading-description">Please provide this information as per your Form-16 Part-B.<br> 
    You can match each item with the field number in your Form-16.</p>
    <div class="gap">
    <div class="row justify-content-start">
      <div class="form-group col-md-6">
        <h5 class="heading-label">1(a) - Salary as per section 17(1)</h5>
      </div>
      </div>
    <p class="heading-description-1">Please enter break down for 1(a) - Salary as per section 17(1). You can refer to your Form-16 for the data.</p>
    <div>
      <div class="row justify-content-between">
        <div class="form-group col-md-4">
          <h5 class="">Basic Salary</h5>
        </div>
        <div class="form-group col-md-4">
          <input type="text" class="form-control"  required>
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="form-group col-md-4">
          <h5 class="">House Rent Allowance</h5>
        </div>
        <div class="form-group col-md-4">
          <input type="text" class="form-control"  required>
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="form-group col-md-4">
          <h5 class="">Leave Travel Allowance</h5>
        </div>
        <div class="form-group col-md-4">
          <input type="text" class="form-control"  required>
        </div>
      </div>
    </div>  
    </div>
  
    <div class="gap">
      <div class="row justify-content-start">
        <div class="form-group col-md-6">
          <h5 class="heading-label">1(b) - Value of perquisites under section 17(2) </h5>
        </div>
        </div>
      <p class="heading-description-1">Please enter break down for 1(b) - Value of perquisites under section 17(2). You can refer to your Form-16 for the data. For more help, click the sample button.</p>
      <div>
        <div class="row justify-content-between">
          <div class="form-group col-md-4">
            <h5 class="">Add item</h5>
          </div>
          <div class="form-group col-md-4">
            <input type="text" class="form-control"  required>
          </div>
        </div>
        </div>

    </div>
    
      
    <div class="gap">
        <div class="row justify-content-start">
          <div class="form-group col-md-6">
            <h5 class="heading-label">1(c) - Profits in lieu of salary under section 17(3)</h5>
          </div>
          </div>
        <p class="heading-description-1">Please enter break down for 1(c) - Profits in lieu of salary under section 17(3). You can refer to your Form-16 for the data. For more help, click the sample button.</p>
        <div>
          <div class="row justify-content-between">
            <div class="form-group col-md-4">
              <h5 class="">Add item</h5>
            </div>
            <div class="form-group col-md-4">
              <input type="text" class="form-control"  required>
            </div>
          </div>
          </div>

    </div>

    <div class="gap">
      <div class="row justify-content-start">
        <div class="form-group col-md-6">
          <h5 class="heading-label">2. Exempt allowances under section 10</h5>
        </div>
        </div>
      <p class="heading-description-1">Please enter break down for 2. Exempt allowances under section 10. You can refer to your Form-16 for the data. For more help, click the sample button.</p>
      <div>
        <div class="row justify-content-between">
          <div class="form-group col-md-4">
            <h5 class="">HRA Exemption</h5>
          </div>
          <div class="form-group col-md-4">
            <input type="text" class="form-control"  required>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="form-group col-md-4">
            <h5 class="">LTA Exemption</h5>
          </div>
          <div class="form-group col-md-4">
            <input type="text" class="form-control"  required>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="form-group col-md-4">
            <h5 class="">aDD ITEM</h5>
          </div>
          <div class="form-group col-md-4">
            <input type="text" class="form-control"  required>
          </div>
        </div>
      </div>  
    </div>
      
    <div class="gap">
      <div class="row justify-content-start">
        <div class="form-group col-md-6">
          <h5 class="heading-label">3)Deductions under section 16</h5>
        </div>
        </div>
      
        <div class="row justify-content-between">
          <div class="form-group col-md-4">
            <h5 class="">Standard deduction under section 16(ia)</h5>
          </div>
          <div class="form-group col-md-4">
            <input type="text" class="form-control"  required>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="form-group col-md-4">
            <h5 class="">Professional tax under section 16(iii)</h5>
          </div>
          <div class="form-group col-md-4">
            <input type="text" class="form-control"  required>
          </div>
        </div>
        
      </div>  
      
    </div>    
      </div>
  
<br>
      <div class="card">
  <div class="card-body">
    <h6 class="heading-content">TDS DETAILS</h6>
    <div class="gap">
      <div class="row justify-content-between">
        <div class="form-group col-md-4">
          <h5 class="heading-label">Tax Deducted at source on Salary</h5>
        </div>
        <div class="form-group col-md-4">
          <input type="text" class="form-control"  required>
        </div>
      </div>
      <p class="heading-description-1">In your Form-16, find this under Part-A: Total of Amount of tax deposited / Remitted 
      </p>
      </div>

      <div class="gap">
        <div class="row justify-content-between">
          <div class="form-group col-md-4">
            <h5 class="heading-label">TAN of the Employer </h5>
          </div>
          <div class="form-group col-md-4">
            <input type="text" class="form-control"  required>
          </div>
        </div>
        <p class="heading-description-1">In your Form-16, find this under Part-A - TAN of Deductor</p>
        </div>
  
    </div>
      </div>


        
            
    
  </div>    
 </div> 
</section>