<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Secretss</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="signStyle.css">

</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-xl-8 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <h5 class="card-title text-center" name="resetId" >Change Password</h5>
            <form class="form-signin" action="/reset/<%= customResetId %>" method="POST" >

              <div class="form-label-group">
                <input name="resetpassword" type="text" id="resetpassword" class="form-control" placeholder="Enter Password" required>
                
              </div>
              <div class="form-label-group">
                <input name="confirmresetpassword" type="text" id="coonfirmresetpassword" class="form-control" placeholder="Enter Password" required>
                
              </div>


              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Change Password</button>
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>



  
</body>
</html>