 :root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

 body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
  }
  
  .card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }
  
  .card-signin .card-img-left {
    width: 45%;
    /* Link to your background image using in the property below! */
    background: scroll center url('https://source.unsplash.com/WEQbe2jBg40/414x512');
    background-size: cover;
  }
  
  .card-signin .card-body {
    padding: 2rem;
  }
  
  .form-signin {
    width: 100%;
  }
  
  .form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group input {
    height: auto;
    border-radius: 2rem;
  }
  
  .form-label-group>input,
  .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }
  
  .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  
  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-moz-placeholder {
    color: transparent;
  }
  
  .form-label-group input::placeholder {
    color: transparent;
  }
  
  .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }
  
  .form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }
  
  .btn-google {
    color: white;
    background-color: #ea4335;
  }
  
  .btn-facebook {
    color: white;
    background-color: #3b5998;
  }
  


  /*===========================
        09.NAVBAR css 
===========================*/
.navbar-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 99; }
    .navbar-area .navbar {
      position: relative;
      padding: 0; }
      .navbar-area .navbar .navbar-toggler .toggler-icon {
        width: 30px;
        height: 2px;
        background-color: #fff;
        margin: 5px 0;
        display: block;
        position: relative;
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s; }
      .navbar-area .navbar .navbar-toggler.active .toggler-icon:nth-of-type(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 7px; }
      .navbar-area .navbar .navbar-toggler.active .toggler-icon:nth-of-type(2) {
        opacity: 0; }
      .navbar-area .navbar .navbar-toggler.active .toggler-icon:nth-of-type(3) {
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
        top: -7px; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .navbar-area .navbar .navbar-collapse {
          position: absolute;
          top: 115%;
          left: 0;
          width: 100%;
          background-color: #f4f6f7;
          z-index: 8;
          padding: 10px 0;
          -webkit-box-shadow: 0px 10px 25px 0px rgba(18, 18, 18, 0.05);
          -moz-box-shadow: 0px 10px 25px 0px rgba(18, 18, 18, 0.05);
          box-shadow: 0px 10px 25px 0px rgba(18, 18, 18, 0.05); } }
      @media (max-width: 767px) {
        .navbar-area .navbar .navbar-collapse {
          position: absolute;
          top: 115%;
          left: 0;
          width: 100%;
          background-color: #f4f6f7;
          z-index: 8;
          padding: 10px 0;
          -webkit-box-shadow: 0px 10px 25px 0px rgba(18, 18, 18, 0.05);
          -moz-box-shadow: 0px 10px 25px 0px rgba(18, 18, 18, 0.05);
          box-shadow: 0px 10px 25px 0px rgba(18, 18, 18, 0.05); } }
      .navbar-area .navbar .navbar-nav .nav-item {
        margin: 0 16px;
        position: relative; }
        .navbar-area .navbar .navbar-nav .nav-item a {
          font-size: 16px;
          line-height: 24px;
          font-weight: 700;
          padding: 26px 0;
          color: #fff;
          text-transform: uppercase;
          position: relative;
          opacity: 0.8;
          -webkit-transition: all 0.3s ease-out 0s;
          -moz-transition: all 0.3s ease-out 0s;
          -ms-transition: all 0.3s ease-out 0s;
          -o-transition: all 0.3s ease-out 0s;
          transition: all 0.3s ease-out 0s; }
          @media only screen and (min-width: 768px) and (max-width: 991px) {
            .navbar-area .navbar .navbar-nav .nav-item a {
              padding: 10px 0;
              display: block;
              color: #121212; } }
          @media (max-width: 767px) {
            .navbar-area .navbar .navbar-nav .nav-item a {
              padding: 10px 0;
              display: block;
              color: #121212; } }
          .navbar-area .navbar .navbar-nav .nav-item a::before {
            position: absolute;
            content: '';
            width: 32px;
            height: 4px;
            background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.1) 0%, white 100%);
            background: -o-linear-gradient(left, rgba(255, 255, 255, 0.1) 0%, white 100%);
            background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, white 100%);
            left: 50%;
            margin: 0 2px;
            bottom: 14px;
            -webkit-transition: all 0.3s ease-out 0s;
            -moz-transition: all 0.3s ease-out 0s;
            -ms-transition: all 0.3s ease-out 0s;
            -o-transition: all 0.3s ease-out 0s;
            transition: all 0.3s ease-out 0s;
            -webkit-transform: translate(-50%) scaleX(0);
            -moz-transform: translate(-50%) scaleX(0);
            -ms-transform: translate(-50%) scaleX(0);
            -o-transform: translate(-50%) scaleX(0);
            transform: translate(-50%) scaleX(0); }
            @media only screen and (min-width: 768px) and (max-width: 991px) {
              .navbar-area .navbar .navbar-nav .nav-item a::before {
                display: none; } }
            @media (max-width: 767px) {
              .navbar-area .navbar .navbar-nav .nav-item a::before {
                display: none; } }
        .navbar-area .navbar .navbar-nav .nav-item.active > a, .navbar-area .navbar .navbar-nav .nav-item:hover > a {
          opacity: 1;
          color: #fff; }
          @media only screen and (min-width: 768px) and (max-width: 991px) {
            .navbar-area .navbar .navbar-nav .nav-item.active > a, .navbar-area .navbar .navbar-nav .nav-item:hover > a {
              color: #121212; } }
          @media (max-width: 767px) {
            .navbar-area .navbar .navbar-nav .nav-item.active > a, .navbar-area .navbar .navbar-nav .nav-item:hover > a {
              color: #121212; } }
          .navbar-area .navbar .navbar-nav .nav-item.active > a::before, .navbar-area .navbar .navbar-nav .nav-item:hover > a::before {
            -webkit-transform: translate(-50%) scaleX(1);
            -moz-transform: translate(-50%) scaleX(1);
            -ms-transform: translate(-50%) scaleX(1);
            -o-transform: translate(-50%) scaleX(1);
            transform: translate(-50%) scaleX(1); }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .navbar-area .navbar .navbar-btn {
          position: absolute;
          right: 70px;
          top: 7px; } }
      @media (max-width: 767px) {
        .navbar-area .navbar .navbar-btn {
          position: absolute;
          right: 60px;
          top: 7px; } }
      .navbar-area .navbar .navbar-btn li {
        display: inline-block;
        margin-right: 5px; }
        .navbar-area .navbar .navbar-btn li a {
          padding: 10px 16px;
          font-size: 16px;
          text-transform: uppercase;
          font-weight: 700;
          color: #fff;
          border: 2px solid;
          border-radius: 4px;
          -webkit-transition: all 0.3s ease-out 0s;
          -moz-transition: all 0.3s ease-out 0s;
          -ms-transition: all 0.3s ease-out 0s;
          -o-transition: all 0.3s ease-out 0s;
          transition: all 0.3s ease-out 0s; }
          .navbar-area .navbar .navbar-btn li a.light {
            border-color: #fff; }
            .navbar-area .navbar .navbar-btn li a.light:hover {
              background-color: rgba(255, 255, 255, 0.4); }
          .navbar-area .navbar .navbar-btn li a.solid {
            background-color: #fff;
            border-color: #fff;
            color: #0067f4; }
            .navbar-area .navbar .navbar-btn li a.solid:hover {
              background-color: transparent;
              color: #fff; }
    .navbar-area.sticky {
      background-color: #fff;
      z-index: 999;
      position: fixed;
      -webkit-box-shadow: 0px 10px 25px 0px rgba(18, 18, 18, 0.05);
      -moz-box-shadow: 0px 10px 25px 0px rgba(18, 18, 18, 0.05);
      box-shadow: 0px 10px 25px 0px rgba(18, 18, 18, 0.05); }
      .navbar-area.sticky .navbar .navbar-toggler .toggler-icon {
        background-color: #121212; }
      .navbar-area.sticky .navbar .navbar-nav .nav-item a {
        color: #121212;
        opacity: 0.7; }
        .navbar-area.sticky .navbar .navbar-nav .nav-item a::before {
          background: -webkit-linear-gradient(left, rgba(18, 18, 18, 0) 0%, #121212 100%);
          background: -o-linear-gradient(left, rgba(18, 18, 18, 0) 0%, #121212 100%);
          background: linear-gradient(to right, rgba(18, 18, 18, 0) 0%, #121212 100%); }
      .navbar-area.sticky .navbar .navbar-nav .nav-item.active, .navbar-area.sticky .navbar .navbar-nav .nav-item:hover {
        color: #121212;
        opacity: 1; }
      .navbar-area.sticky .navbar .navbar-btn li a.light {
        border-color: #0067f4;
        color: #0067f4; }
      .navbar-area.sticky .navbar .navbar-btn li a.solid {
        border-color: #0067f4;
        background-color: #0067f4;
        color: #fff; }
  
  
  
  
  
  
  
  
  /*===========================
      21.FOOTER css 
  ===========================*/
  /*===== FOOTER FIVE =====*/
  .footer-area {
     background-color: #f4f6f7;
     padding-top: 90px;
     padding-bottom: 120px; }
     .footer-area .social li {
       display: inline-block;
       margin: 0 5px; }
       .footer-area .social li a {
         font-size: 24px;
         color: #6c6c6c;
         -webkit-transition: all 0.3s ease-out 0s;
         -moz-transition: all 0.3s ease-out 0s;
         -ms-transition: all 0.3s ease-out 0s;
         -o-transition: all 0.3s ease-out 0s;
         transition: all 0.3s ease-out 0s; }
         .footer-area .social li a:hover {
           color: #0067f4; }
     .footer-area .footer-support {
       padding-top: 21px; }
       .footer-area .footer-support span {
         font-size: 16px;
         line-height: 24px;
         color: #121212;
         font-weight: 600;
         margin-top: 9px;
         display: block; }
         @media (max-width: 767px) {
           .footer-area .footer-support span {
             display: block; } }
     .footer-area .footer-app-store {
       padding-top: 27px; }
       .footer-area .footer-app-store ul li {
         display: inline-block;
         margin-right: 8px; }
         @media only screen and (min-width: 992px) and (max-width: 1199px) {
           .footer-area .footer-app-store ul li {
             margin-right: 6px; } }
         .footer-area .footer-app-store ul li:last-child {
           margin-right: 0; }
         @media (max-width: 767px) {
           .footer-area .footer-app-store ul li {
             width: 120px; } }
         @media only screen and (min-width: 576px) and (max-width: 767px) {
           .footer-area .footer-app-store ul li {
             width: auto; } }
     .footer-area .copyright .text {
       color: #121212; }
     .footer-area.footer-dark {
       background-color: #121212; }
       .footer-area.footer-dark .social li a {
         color: #fff; }
       .footer-area.footer-dark .footer-support {
         padding-top: 21px; }
         .footer-area.footer-dark .footer-support span {
           color: #fff; }
       .footer-area.footer-dark .footer-app-store {
         padding-top: 27px; }
         .footer-area.footer-dark .footer-app-store ul li {
           color: #fff; }
       .footer-area.footer-dark .copyright .text {
         color: #fff; }
  