 /* COMMON CSS */

 @import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");
 body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #121212; 
  background: #2980B9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #000000;
    margin: 0px; }


.form-row{
padding: 1rem 0;
}

.form-control{
  border-radius:1.5rem;
}


 
.blue{
  background-color:#fcf9f4;
}


/* COMMON CSS */

 
/* BUTTONS CSS */
.btnPrev,.btnNext{
background-color:#94fc13;
}

.btnPrev:hover{
  background-color:#ff0000;
}
.btnNext:hover{
  background-color:#81f5ff;
}
/* BUTTONS CSS */

/* HR ANIMATION */
.separator--line {
  border: 0;
  border-bottom: 5px solid #ff0000;

  width: 0;
  animation: separator-width 2s ease-out forwards;
}
@keyframes separator-width {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

/* HR ANIMATION */


/* HEADING HR ANIMATION */


/* Heading */
.heading-H{
  color:#00005c;
  text-align: center; 
  text-transform: uppercase;
}
.heading-content{
  text-align: center;
  margin:2rem auto;
  text-transform: uppercase;
  text-decoration: underline ;
}

.heading-label{
  color:#1b6ca8;
  font-weight: bold;
  /* text-transform: uppercase; */
}

.heading-info{
  color: #e84a5f;
  text-align: center;

}
/* generally para tags */
.heading-description{
font-weight:300;
font-size: small;
color: #323232;
}
/* Heading */

.hide{
  display: none;
}


 
 /* INTRO TABS */

a.introTab{font-size: 14px;
      font-weight: 700;
      color:#790c5a;
      text-transform: uppercase;
      }
a:hover{
  background-color:#fa163f;
}
  /* INTRO TABS */


  /* INPUT AND LABEL FROM CSS */













/*===========================
    21.FOOTER css 
===========================*/
/*===== FOOTER FIVE =====*/
.footer-area {
   background-color: #f4f6f7;
   padding-top: 90px;
   padding-bottom: 120px; }
   .footer-area .social li {
     display: inline-block;
     margin: 0 5px; }
     .footer-area .social li a {
       font-size: 24px;
       color: #6c6c6c;
       -webkit-transition: all 0.3s ease-out 0s;
       -moz-transition: all 0.3s ease-out 0s;
       -ms-transition: all 0.3s ease-out 0s;
       -o-transition: all 0.3s ease-out 0s;
       transition: all 0.3s ease-out 0s; }
       .footer-area .social li a:hover {
         color: #0067f4; }
   .footer-area .footer-support {
     padding-top: 21px; }
     .footer-area .footer-support span {
       font-size: 16px;
       line-height: 24px;
       color: #121212;
       font-weight: 600;
       margin-top: 9px;
       display: block; }
       @media (max-width: 767px) {
         .footer-area .footer-support span {
           display: block; } }
   .footer-area .footer-app-store {
     padding-top: 27px; }
     .footer-area .footer-app-store ul li {
       display: inline-block;
       margin-right: 8px; }
       @media only screen and (min-width: 992px) and (max-width: 1199px) {
         .footer-area .footer-app-store ul li {
           margin-right: 6px; } }
       .footer-area .footer-app-store ul li:last-child {
         margin-right: 0; }
       @media (max-width: 767px) {
         .footer-area .footer-app-store ul li {
           width: 120px; } }
       @media only screen and (min-width: 576px) and (max-width: 767px) {
         .footer-area .footer-app-store ul li {
           width: auto; } }
   .footer-area .copyright .text {
     color: #121212; }
   .footer-area.footer-dark {
     background-color: #121212; }
     .footer-area.footer-dark .social li a {
       color: #fff; }
     .footer-area.footer-dark .footer-support {
       padding-top: 21px; }
       .footer-area.footer-dark .footer-support span {
         color: #fff; }
     .footer-area.footer-dark .footer-app-store {
       padding-top: 27px; }
       .footer-area.footer-dark .footer-app-store ul li {
         color: #fff; }
     .footer-area.footer-dark .copyright .text {
       color: #fff; }


   
   .steps {
    
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
   }
   
   .steps.active {
    overflow: visible;
    width: 100%;
    z-index: 1;
    visibility: visible;
    opacity: 1;
    transition: all 0.4s ease-in-out;
    
   }
   
   /* animation for input boxes */
   
   .form-control.invalid {
    border: 1px solid #ec2626;
    /* paste any animation you want */
    animation: shaking 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    transition: all 0.4s ease-in-out;
   }
   
   @keyframes shaking {
    10%,
    90% {
     transform: translate3d(-2px, 0, 0);
    }
    20%,
    80% {
     transform: translate3d(4px, 0, 0);
    }
    30%,
    50%,
    70% {
     transform: translate3d(-8px, 0, 0);
    }
    40%,
    60% {
     transform: translate3d(8px, 0, 0);
    }
   }
   
   .hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.4s ease-in-out;
   }
   
   .show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: all 0.4s ease-in-out;
   }
   
   /* @media screen and (min-width: 768px) {
    .fix-height {
     min-height: 100px;
    }
   }
    */


    
/*===========================
      16.PRICING css 
===========================*/
.pricing-area {
  background-color: #f4f6f7;
  padding-top: 120px;
  padding-bottom: 130px; }

/*===== PRICING STYLE NINE =====*/
.pricing-style {
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  padding: 24px 20px 38px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  background: -webkit-linear-gradient(#2bdbdc 0%, #0067f4 100%);
  background: -o-linear-gradient(#2bdbdc 0%, #0067f4 100%);
  background: linear-gradient(#2bdbdc 0%, #0067f4 100%); }
  .pricing-style .pricing-icon img {
    width: 190px; }
  .pricing-style .pricing-header .sub-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    color: #fff;
    position: relative;
    margin-top: 24px; }
  .pricing-style .pricing-header .month {
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    color: #fff;
    margin-top: 3px; }
    .pricing-style .pricing-header .month .price {
      font-size: 36px;
      font-weight: 600;
      line-height: 45px;
      color: #fff;
      margin-top: 8px; }
      @media only screen and (min-width: 576px) and (max-width: 767px) {
        .pricing-style .pricing-header .month .price {
          font-size: 24px;
          margin-top: 32px;
          line-height: 30px; } }
  .pricing-style .pricing-list {
    margin-top: 24px; }
    .pricing-style .pricing-list ul li {
      font-size: 16px;
      line-height: 24px;
      color: #fff;
      margin-top: 16px; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .pricing-style .pricing-list ul li {
          font-size: 14px;
          margin-top: 12px; } }
      @media (max-width: 767px) {
        .pricing-style .pricing-list ul li {
          font-size: 14px;
          margin-top: 12px; } }
      @media only screen and (min-width: 576px) and (max-width: 767px) {
        .pricing-style .pricing-list ul li {
          font-size: 16px;
          margin-top: 16px; } }
      .pricing-style .pricing-list ul li i {
        color: #fff;
        margin-right: 8px; }
  .pricing-style .pricing-btn {
    margin-top: 31px; }
    .pricing-style .pricing-btn .main-btn {
      background-color: #fff;
      border-color: #fff; }
      .pricing-style .pricing-btn .main-btn:hover {
        color: #0067f4;
        -webkit-box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.16);
        -moz-box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.16);
        box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.16); }