<div class="form-row justify-content-around">
    <div class="form-group col-md-4">
      <label for="firstname">Date of Sale *</label>
      <input type="fname" class="form-control" id="firstname" required placeholder="firstname">
    </div>  
    <div class="form-group col-md-4">
      <label for="middlename">Date of Purchase *</label>
      <input type="mname" class="form-control" id="middlename" required placeholder="middlename">
    </div>
  </div> 

  <div class="form-row justify-content-around">
    <div class="form-group col-md-4">
      <label for="firstname">Description of Asset Sold *</label>
      <input type="fname" class="form-control" id="firstname" required placeholder="firstname">
    </div>  
    <div class="form-group col-md-4">
      <label for="middlename">Sale Price *</label>
      <input type="mname" class="form-control" id="middlename" required placeholder="middlename">
    </div>
    
  </div>
  <div class="form-row justify-content-around">
    <div class="form-group col-md-4">
      <label for="firstname">Transfer Expenses</label>
      <input type="fname" class="form-control" id="firstname" required placeholder="firstname">
    </div>  
    <div class="form-group col-md-4">
      <label for="middlename">Purchase Price *</label>
      <input type="mname" class="form-control" id="middlename" required placeholder="middlename">
    </div>
  </div>
  
   <div class="form-row justify-content-around">
    <div class="form-group col-md-4">
      <label for="middlename">Fair market value on the date of sale</label>
      <input type="mname" class="form-control" id="middlename" required placeholder="middlename">
    </div>
    <div class="form-check col-md-4">
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1">
        Did you pay STT?
      </label>
    </div>
   </div>
   
  