<div class="steps" style="min-height: 800px;">
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">House-Property</div>
    </div>
     <div class="card">
      <div class="card-body">
    <h4 class="card-title">Deductions Under Section 80</h4>
    <br>
    <br>
    <div class="card">
      <div class="card-body">
      <h5 class="card-title">Investments under Section 80C</h5>
      <p>You can claim a deduction of upto Rs. 1,50,000 under this section.<br> 
        Add up all your 80C deduction and specify total amount here.</p>
        <div class="row">
          <div class="form-group col-md-4">
            <label for="country"><strong>Investment for Section 80C </strong></label>
            </label>
            <input type="text" class="form-control"  required>
          </div>
          </div>
          <p>Section 80C includes contributions to LIC / Insurance premium, PPF, EPF, NSC, ELSS Mutual Funds, Children school fees, Payment of Principal in Housing Loan & other eligible items.</p>
       
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-body">
      <h5 class="card-title">Section 80TTA: Deduction for Interest earned on Savings Bank Account</h5>
      <p>You can claim a deduction of upto Rs. 1,50,000 under this section.<br> 
        Add up all your 80C deduction and specify total amount here.</p>
        <div class="row">
          <div class="form-group col-md-4">
            <label for="country"><strong>Interest earned on Savings Bank Account </strong></label>
            </label>
            <input type="text" class="form-control"  required>
          </div>
          </div>
          <p>You do not need to enter a value for the 80TTA deduction here.
            ClearTax automatically picks it up from your declared interest income from Saving Bank account and Post office deposits..</p>
      </div>
    </div>

    <br>
    <div class="card">
      <div class="card-body">
      <h5 class="card-title">Section 80G : Donations to charitable organizations</h5>
      <p>The government requires itemized details of donations for Section 80G.</p>
        <button class="btn btn-primary btn-large" type="button">Add or Remove Donation under Section 80G</button>
      </div>
    </div>

   </div>
  </div> 

</div>