<div class="progress my-3">
  <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">Personal-Info</div>
</div>
<br>

<div class="blue steps">
  <div class="p-3 bg-white shadow-lg rounded-sm">
              <br>
              <h5 class="heading-H">Income From Capital Gains</h5>
              <hr class="separator--line" />
              <br>
              <p class="heading-info">Note: Intra-day trading and F&O trading is considered as business income. Go to Business & Profession page and enter the data in the relevant fields.</p>  


                                  <div class="row justify-content-around">

                                    <div class="col-lg-4 col-md-7 col-sm-9">
                                      <div class="pricing-style">
                                          
                                          <div class="pricing-header text-center">
                                              <h5 class="sub-title">Upload Capital Gains Report</h5>
                                              <p class="month my-3"><i class="fa fa-file-text fa-lg" aria-hidden="true"></i></p>
                                          </div>
                                          <div class="pricing-list">
                                              <ul>
                                                  <li> Add capital gains data from Mutual Funds by uploading CAMS and KARVY reports.</li>
                                                </ul>
                                          </div>
                                          <div class="pricing-btn rounded-buttons text-center">
                                              <a class="main-btn rounded-one" href="#">UPLOAD FILES</a>
                                          </div>    
                                      </div> 
                                  </div>

                                  <div class="col-lg-4 col-md-7 col-sm-9">
                                    <div class="pricing-style">
                                        
                                        <div class="pricing-header text-center">
                                            <h5 class="sub-title">Add GAINS Reports Manually</h5>
                                            <p class="month my-3"><i class="fa fa-file-text fa-lg" aria-hidden="true"></i></p>
                                        </div>
                                        <div class="pricing-list">
                                            <ul>
                                                <li> Add sale entries manually to view capital gains summary.</li>
                                              </ul>
                                        </div>
                                        <div class="pricing-btn rounded-buttons text-center">
                                            <a class="main-btn rounded-one" href="#">ADD FILES</a>
                                        </div>    
                                    </div> 
                                </div>
                              </div>

                              <div class="row justify-content-around">
                              <div class="accordion col-md-10" id="accordionExample">
                               
                                <div class="card">
                                  <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                      <button class="btn  btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Mutual Funds
                                      </button>
                                    </h2>
                                  </div>
                              
                                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                    
                                            
                                    
                                    </div>
                                  </div>
                                </div>


                                <div class="card">
                                  <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                      <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Shares/Debuntures
                                      </button>
                                    </h2>
                                  </div>
                                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                      <div class="form-row justify-content-center">
                                        <div class="form-group col-md-5">
                                          <label for="FundType">Type Of Share</label>
                                            <select class="form-control" id="FundType">
                                              <option value="Equity">Mutual Fund(Equity)</option>
                                              <option value="otherEquity">Mutual Fund(Other Than  Equity)</option>
                                              <option value="otherEquity">Mutual Fund(Other Than  Equity)</option>
                                            </select>  
                                        </div>
                                      </div>
                                      <div class="form-row justify-content-around">
                                        <div class="form-group col-md-4">
                                          <label for="firstname">Date of Sale *</label>
                                          <input type="fname" class="form-control" id="firstname" required placeholder="firstname">
                                        </div>  
                                        <div class="form-group col-md-4">
                                          <label for="middlename">Date of Purchase *</label>
                                          <input type="mname" class="form-control" id="middlename" required placeholder="middlename">
                                        </div>
                                      </div> 
                                  
                                      <div class="form-row justify-content-around">
                                        <div class="form-group col-md-4">
                                          <label for="firstname">Description of Asset Sold *</label>
                                          <input type="fname" class="form-control" id="firstname" required placeholder="firstname">
                                        </div>  
                                        <div class="form-group col-md-4">
                                          <label for="middlename">Sale Price *</label>
                                          <input type="mname" class="form-control" id="middlename" required placeholder="middlename">
                                        </div>
                                        
                                      </div>
                                      <div class="form-row justify-content-around">
                                        <div class="form-group col-md-4">
                                          <label for="firstname">Transfer Expenses</label>
                                          <input type="fname" class="form-control" id="firstname" required placeholder="firstname">
                                        </div>  
                                        <div class="form-group col-md-4">
                                          <label for="middlename">Purchase Price *</label>
                                          <input type="mname" class="form-control" id="middlename" required placeholder="middlename">
                                        </div>
                                      </div>
                                      
                                       <div class="form-row">
                                        <div class="form-check">
                                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                          <label class="form-check-label" for="defaultCheck1">
                                            Did you pay STT?
                                          </label>
                                        </div>
                                       </div>
                                  
                                    </div>
                                  </div>
                                </div>


                                <div class="card">
                                  <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                      <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Stock options/RSUs
                                      </button>
                                    </h2>
                                  </div>
                                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="card-body">
                                      <div class="form-row justify-content-center">
                                        <div class="form-group col-md-5">
                                          <label for="shareType">Type Of Share</label>
                                            <select class="form-control" id="shareType">
                                              
                                              <option value="IndianListed">Indian Listed Shares</option>
                                              <option value="IndianNListed">Indian Non-Listed Shares</option>
                                              <option value="FListed">Foreign Listed Shares</option>
                                              <option value="FNListed">Foreign Non-Listed Shares</option>
                                            </select>  
                                        </div>
                                      </div>
                                      <div class="form-row justify-content-around">
                                        <div class="form-group col-md-4">
                                          <label for="firstname">Date of Sale *</label>
                                          <input type="fname" class="form-control" id="firstname" required placeholder="firstname">
                                        </div>  
                                        <div class="form-group col-md-4">
                                          <label for="middlename">Date of Purchase *</label>
                                          <input type="mname" class="form-control" id="middlename" required placeholder="middlename">
                                        </div>
                                      </div> 
                                  
                                      <div class="form-row justify-content-around">
                                        <div class="form-group col-md-4">
                                          <label for="firstname">Description of Asset Sold *</label>
                                          <input type="fname" class="form-control" id="firstname" required placeholder="firstname">
                                        </div>  
                                        <div class="form-group col-md-4">
                                          <label for="middlename">Sale Price *</label>
                                          <input type="mname" class="form-control" id="middlename" required placeholder="middlename">
                                        </div>
                                        
                                      </div>
                                      <div class="form-row justify-content-around">
                                        <div class="form-group col-md-4">
                                          <label for="firstname">Transfer Expenses</label>
                                          <input type="fname" class="form-control" id="firstname" required placeholder="firstname">
                                        </div>  
                                        <div class="form-group col-md-4">
                                          <label for="middlename">Purchase Price *</label>
                                          <input type="mname" class="form-control" id="middlename" required placeholder="middlename">
                                        </div>
                                      </div>
                                      
                                       <div class="form-row justify-content-around">
                                          

                                        <div class="form-group col-md-4">
                                          <label for="middlename">Fair market value on the date of sale</label>
                                          <input type="mname" class="form-control" id="middlename" required placeholder="middlename">
                                        </div>
                                        <div class="form-check col-md-4">
                                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                          <label class="form-check-label" for="defaultCheck1">
                                            Did you pay STT?
                                          </label>
                                        </div>
                                        
                                       </div>
                                    
                                    </div>
                                  </div>
                                </div>

                                <div class="card">
                                  <div class="card-header" id="headingFour">
                                    <h2 class="mb-0">
                                      <button class="btn  btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                       Land/Building(property)
                                      </button>
                                    </h2>
                                  </div>
                                  <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                    <div class="card-body">
                                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                  </div>
                                </div>

                                <div class="card">
                                  <div class="card-header" id="headingFive">
                                    <h2 class="mb-0">
                                      <button class="btn  btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                       Any Other Assets
                                      </button>
                                    </h2>
                                  </div>
                                  <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                                    <div class="card-body">
                                      <div class="form-row justify-content-around">
                                        <div class="form-group col-md-4">
                                          <label for="firstname">Date of Sale *</label>
                                          <input type="fname" class="form-control" id="firstname" required placeholder="firstname">
                                        </div>  
                                        <div class="form-group col-md-4">
                                          <label for="middlename">Date of Purchase *</label>
                                          <input type="mname" class="form-control" id="middlename" required placeholder="middlename">
                                        </div>
                                      </div> 
                                  
                                      <div class="form-row justify-content-around">
                                        <div class="form-group col-md-4">
                                          <label for="firstname">Description of Asset Sold *</label>
                                          <input type="fname" class="form-control" id="firstname" required placeholder="firstname">
                                        </div>  
                                        <div class="form-group col-md-4">
                                          <label for="middlename">Sale Price *</label>
                                          <input type="mname" class="form-control" id="middlename" required placeholder="middlename">
                                        </div>
                                        
                                      </div>
                                      <div class="form-row justify-content-around">
                                        <div class="form-group col-md-4">
                                          <label for="firstname">Transfer Expenses</label>
                                          <input type="fname" class="form-control" id="firstname" required placeholder="firstname">
                                        </div>  
                                        <div class="form-group col-md-4">
                                          <label for="middlename">Purchase Price *</label>
                                          <input type="mname" class="form-control" id="middlename" required placeholder="middlename">
                                        </div>
                                      </div>
                                      <div class="form-row ">
                                        <button class="btn btn-primary" type="button" id="show-button-5-1">Add cost of improvement </button>
                                      </div>
                                        <div class="hide show-5-1">
                                        <div class="form-row  justify-content-around " >
                                          <div class="form-group col-md-4">
                                            <label for="firstname">Description</label>
                                            <input type="fname" class="form-control" id="firstname" required placeholder="firstname">
                                          </div>  
                                          <div class="form-group col-md-4">
                                            <label for="middlename">Amount</label>
                                            <input type="mname" class="form-control" id="middlename" required placeholder="middlename">
                                          </div>
                                          </div>
                                          <div class="form-row ">
                                            <button class="btn btn-primary" type="button" id="addCost">Add another </button>
                                          </div>
                                        </div>
                                  
                                    </div>
                                  </div>
                                </div>



                              </div> </div>














    




  </div>
  </div>