<section class="inner-section-step">
<div class="progress my-3">
  <div class="progress-done progress-bar-animated" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Personal-Info</div>
</div>
<br>


<div class="blue steps step-shadow-box step-shadow-box-1">
  <div class="p-3 bg-white shadow-lg rounded-sm">
    <br>
    <h5 class="heading-H">More deductions Under Section 80</h5>
    <hr class="separator--line" />
    <br>
    
                <div class="card ">
                <div class="card-body ">
                  
               <h6 class="heading-content">Section 80D: Deductions for Medical Insurance</h6>

                <p class="heading-description">Deductions for Medical Insurance or Preventive Health Check-Up fees or Medical Expenditure incurred by you.
                </p>
                
                <div class="gap">
                <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">Self and Family</div>
                <div class="col-md-4">
                  <div class="row justify-content-end">
                    <div class="col-md-4">Parents</div>
                    <div class="col-md-8">
                    <select name="parents" class="form-control" >
                    <option value="below">Below 60 Yr</option>
                    <option value="betage">60 to 79 Yr</option>
                    <option value="above">Above 80 Yr</option>
                    </select>
                    </div>
                  </div>
                </div>
                </div>
                <br>
                
                <br>
                <div class="row">
                <div class="col-md-4"><h5 class="heading-label">Medical Insurance Premium</h5></div>
                <div class="col-md-4"><input type="text" class="form-control"></div>
                <div class="col-md-4"><input type="text" class="form-control"></div>
                </div>
                <br>
                <p class="heading-description-1">Medical insurance premium paid by you for Self, Spouse, Dependent Children and Parents.</p>
                </div>


                <div class="gap">
                <div class="row">
                <div class="col-md-4"><h5 class="heading-label">Preventive Health Check-Up Fees</h5></div>
                <div class="col-md-4"><input type="text" class="form-control"></div>
                <div class="col-md-4"><input type="text" class="form-control"></div>
                </div>
                <br>
                <p class="heading-description-1">Health check-up expenses paid by you for Self, Spouse, Dependent Children and Parents.</p>
                </div>
                <div class="gap">
                <div class="row">
                <div class="col-md-4"><h5 class="heading-label">Medical Expenditure</h5></div>
                <div class="col-md-4"><input type="text" class="form-control"></div>
                <div class="col-md-4"><input type="text" class="form-control"></div>
                </div>
                <br>
                <p class="heading-description-1">This expenditure can be claimed only for senior citizens who don't have medical insurance policy.</p>
              </div>

                </div>
                </div>
                <br>
                <div class="card">
                <div class="card-body">
                  <h6 class="heading-content">Section 80E - Education Loan on higher studies (Graduate or PostGraduate)</h6>

                  
                <p class="heading-description">You can claim tax deduction on the interest paid on an education loan for higher studies</p>
                <div class="row  justify-content-between">
                    <div class="form-group col-md-4">
                      <h5 class="heading-label">Interest on higher education loan paid this year</h5>
                    </div>
                    <div class="form-group col-md-4">
                      <input type="text" class="form-control"  required>
                    </div>
                </div>
                </div>
                </div>
<br>

          <div class="card">
          <div class="card-body">
            <h6 class="heading-content">Section 80CCC - Contribution to Pension Plan/Annuity Fund</h6>

                <div class="row justify-content-between">
                  <div class="form-group col-md-4">
                    <h5 class="heading-label">Contribution amount to Pension Plan/Annuity Fund for Section 80CCC</h5>
                  </div>
                  <div class="form-group col-md-4">
                    <input type="text" class="form-control"  required>
                  </div>
                </div>
                
           </div>
           </div>

<br>

                <div class="card">
                <div class="card-body">
                  <h6 class="heading-content">Section 80CCD (1) and (1B) - Employee Contribution to New Pension Scheme (NPS).</h6>
                  <p class="heading-description">Employee's contribution to the New Pension System (NPS).</p>
                  <div class="gap">
                  <div class="row justify-content-between">
                    <div class="form-group col-md-4">
                      <h5 class="heading-label">Contribution towards Section 80CCD(1)</h5>
                    </div>
                    <div class="form-group col-md-4">
                      <input type="text" class="form-control"  required>
                    </div>
                  </div>
                  <p class="heading-description-1">Please enter your own contribution to NPS.
                    ClearTax will automatically split it into Section 80 CCD(1) and CCD(1B) in your tax return.
                    The split will be optimised to give you maximum tax savings.</p>
                  </div>
           </div>
          </div>

<br>

                  <div class="card">
                  <div class="card-body">
                    <h6 class="heading-content">Section 80CCD(2) - Employer Contribution in NPS</h6>
                    <div class="row justify-content-between">
                      <div class="form-group col-md-4">
                        <h5 class="heading-label">Employers contribution towards NPS (upto 10% of Salary).</h5>
                      </div>
                      <div class="form-group col-md-4">
                        <input type="text" class="form-control"  required>
                      </div>
                    </div>
                   </div>
                  </div>


 <br>

                  <div class="card">
                  <div class="card-body">
                    <h6 class="heading-content">
                      Section 80DD - Disabled dependent deduction. (Spouse/Children/Parents)</h6>
                      
                      <div class="row gap justify-content-around">
                      <div class="form-check col-md-4">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label heading-label" for="exampleCheck1">Select if a dependent with 40% DISABILITY and mention no of members.</label>
                      </div>
                      
                      <div class="form-group col-md-2">
                        <input type="text" class="form-control"  required>
                      </div>
                    </div>
                    <div class="row gap justify-content-around">
                      <div class="form-check col-md-4">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label heading-label" for="exampleCheck1">Select if a dependent with SEVERE DISABILITY and mention no of members.</label>
                      </div>
                      
                      <div class="form-group col-md-2">
                        <input type="text" class="form-control"  required>
                      </div>
                    </div>
                   </div>
                  </div>

<br>
<div class="card">
  <div class="card-body">
    <h6 class="heading-content">Section 80U - Disability</h6>
      
      <div class="row justify-content-around">
      <div class="form-check col-md-4">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label heading-label" for="exampleCheck1">Select if you have 40% DISABILITY.</label>
      </div>
      <div class="form-check col-md-4">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label heading-label" for="exampleCheck1">Select if you have SEVERE DISABILITY.</label>
      </div>
      </div>
    
   </div>
  </div>











<br>
                  <div class="row justify-content-around">
                    <div class="col-md-10">
                      <button class="btn btn-primary btn-block" id="show-button-7-1" type="button">Add Special Deductions</button>
                    </div>
                  </div>

<br>
    

                    <div class="hide show-7-1cont">
                      <br>
                      <h5 class="heading-H">The following deductions are applicable less often.</h5>
                      <hr class="separator--line" />
                      <br>


                  
                  <div class="card">
                    <div class="card-body">
                      <h6 class="heading-content">Section 80GG - Deduction for House Rent. Self-employed or Salary with no HRA.</h6>
                     <p>Not a commonly applicable deduction. Please be careful while claiming. If you receive HRA benefit, then you cannot claim this deduction. </p>
                      <br>
                     <p class="heading-description">If you are looking to claim HRA, this is NOT the section.</p>
                     <br>
                     <p class="heading-description-1">Eligibility: Your spouse or minor child should not own House Property in same town where paying rent. Self occupied house property Interest deduction should not have been availed.</p>
                      <div class="row gap justify-content-between">
                        <div class="form-group col-md-4">
                          <h5 class="heading-label">Rent Paid Per Month</h5>
                        </div>
                        <div class="form-group col-md-4">
                          <input type="text" class="form-control"  required>
                        </div>
                      </div>
                      <div class="row gap justify-content-between">
                        <div class="form-group col-md-4">
                          <h5 class="heading-label">Number of Months Rent Paid(1-12)</h5>
                        </div>
                        <div class="form-group col-md-4">
                          <input type="text" class="form-control"  required>
                        </div>
                      </div>
                     </div>
                    </div>
<br>
                    <div class="card">
                      <div class="card-body">
                        <h6 class="heading-content">Section 80DDB: Deductions for treatment of specified diseases and ailments</h6>
                       
                       <p class="heading-description">This deduction is for certain specified diseases. (It is not a commonly applicable deduction). Please be careful while claiming this deduction.</p>
                        <div class="row gap justify-content-between">
                          <div class="form-group col-md-4">
                            <h5 class="heading-label">Medical Treatment Costs for specified Diseases under Section 80DDB</h5>
                          </div>
                          <div class="form-group col-md-4">
                            <input type="text" class="form-control"  required>
                          </div>
                        </div>
                        <div class="row gap justify-content-between">
                          <div class="form-group col-md-4">
                            <h5 class="heading-label">Age of person for whom deduction is being claimed.</h5>
                          </div>
                          <div class="form-group col-md-4">
                            <input type="text" class="form-control"  required>
                          </div>
                        </div>
                       </div>
                      </div>
<br>                     
                      <div class="card">
                        <div class="card-body">
                          <h6 class="heading-content">Section 80EE - Interest on Home Loan</h6>
                         
                         <p class="heading-description">Read about the eligibility criteria of Section 80EE: Deduction under section 80EE is available on interest on loan taken from a financial institution on your first house purchased. This loan should be sanctioned between April 1st, 2016 to March 31st 2017. The value of the house can be upto Rs. 50 Lakhs and the total home loan can be upto Rs. 35 Lakhs.</p>
                          <div class="row justify-content-between">
                            <div class="form-group col-md-4">
                              <h5 class="heading-label">Deductions under Section 80EE</h5>
                            </div>
                            <div class="form-group col-md-4">
                              <input type="text" class="form-control"  required>
                            </div>
                          </div>
                          
                         </div>
                        </div>
<br>
                        <div class="card">
                          <div class="card-body">
                            <h6 class="heading-content">Section 80EEA - Interest on Home Loan</h6>
                           
                           <p class="heading-description">Read about the eligibility criteria of Section 80EEA: Deduction under section 80EEA is available on interest on loan taken from a financial institution on your first house purchased. This loan should be sanctioned between between April 1st, 2019 to March 31st 2020. The value of the house can be upto Rs. 45 Lakhs.</p>
                            <div class="row justify-content-between">
                              <div class="form-group col-md-4">
                                <h5 class="heading-label">Deductions under Section 80EEA</h5>
                              </div>
                              <div class="form-group col-md-4">
                                <input type="text" class="form-control"  required>
                              </div>
                            </div>
                            
                           </div>
                          </div>
                    
<br>
                          <div class="card">
                            <div class="card-body">
                              <h6 class="heading-content">Section 80EEB - Interest on Electric Vehicle Loan</h6>
                             
                             <p class="heading-description">Read about the eligibility criteria of Section 80EEB: Deduction under section 80EEB is available on interest on loan taken from a financial institution for purchase of an electric vehicle. This loan should be sanctioned between between April 1st, 2019 to March 31st 2020.</p>
                              <div class="row justify-content-between">
                                <div class="form-group col-md-4">
                                  <h5 class="heading-label">Deductions under Section 80EEB</h5>
                                </div>
                                <div class="form-group col-md-4">
                                  <input type="text" class="form-control"  required>
                                </div>
                              </div>
                              
                             </div>
                            </div>
<br>
                            <div class="card">
                              <div class="card-body">
                                <h6 class="heading-content">Section 80QQB - Royalty Received on books</h6>
                               
                               <p class="heading-description">Deduction for Author of literary/scientific/artistic book. Royalty/copyright-fees/lump-sum consideration are eligible for deduction.
                              </p>
                                <div class="row justify-content-between">
                                  <div class="form-group col-md-4">
                                    <h5 class="heading-label">Enter the deduction amount</h5>
                                  </div>
                                  <div class="form-group col-md-4">
                                    <input type="text" class="form-control"  required>
                                  </div>
                                </div>
                                
                               </div>
                              </div>
<br>
                              <div class="card">
                                <div class="card-body">
                                  <h6 class="heading-content">Section 80RRB - Income on Patents/Inventions</h6>
                                 
                                 <p class="heading-description">Deduction for Patentee - Royalty/transfer-of-rights/lump-sum consideration are eligible for deduction.
                                </p>
                                  <div class="row justify-content-between">
                                    <div class="form-group col-md-4">
                                      <h5 class="heading-label">Enter the deduction amount</h5>
                                    </div>
                                    <div class="form-group col-md-4">
                                      <input type="text" class="form-control"  required>
                                    </div>
                                  </div>
                                  
                                 </div>
                                </div>
<br>
                                <div class="card">
                                  <div class="card-body">
                                    <h6 class="heading-content">Section 80RRB - Income on Patents/Inventions</h6>
                                   
                                   <p class="heading-description">Deduction for Patentee - Royalty/transfer-of-rights/lump-sum consideration are eligible for deduction.
                                  </p>
                                    <div class="row justify-content-between">
                                      <div class="form-group col-md-4">
                                        <h5 class="heading-label">Enter the deduction amount</h5>
                                      </div>
                                      <div class="form-group col-md-4">
                                        <input type="text" class="form-control"  required>
                                      </div>
                                    </div>
                                    
                                   </div>
                                  </div>
<br>
                                  <div class="card">
                                    <div class="card-body">
                                      <h6 class="heading-content">Section 80GGC - Contribution To Political Party</h6>
                                     
                                     
                                      <div class="row justify-content-between">
                                        <div class="form-group col-md-4">
                                          <h5 class="heading-label">Contribution or Donations to Political Party</h5>
                                        </div>
                                        <div class="form-group col-md-4">
                                          <input type="text" class="form-control"  required>
                                        </div>
                                      </div>
                                      
                                     </div>
                                    </div>

<br>
                                    <div class="card">
                                      <div class="card-body">
                                        <h6 class="heading-content">Section 80JJA</h6>
                                       
                                       
                                        <div class="row justify-content-between">
                                          <div class="form-group col-md-4">
                                            <h5 class="heading-label">Deduction exempting profits from bio-degradable waste business 
                                            </h5>
                                          </div>
                                          <div class="form-group col-md-4">
                                            <input type="text" class="form-control"  required>
                                          </div>
                                        </div>
                                        
                                       </div>
                                      </div>
    <br>                                  
                                      <div class="card">
                                        <div class="card-body">
                                          <h6 class="heading-content">Section 80GGA : Donations for Scientific Research or Rural Development</h6>
                                            <p class="heading-description">The government requires itemized details of donations for Section 80GGA.</p>
                                         
                                          <div class="row justify-content-around ">
                                            <div class="form-group col-md-6">
                                              <button class="btn btn-primary">Add or Remove Donations under 80GGA.</button>
                                            </div>
                                          </div>
                                          
                                         </div>
                                        </div>
    
                  
                </div>
  
                  


</div> 
</div>
</section>
