<div class="steps" style="min-height: 800px;">
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">House-Property</div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row justify-content-between">
          <div class="card-title col-md-8"><h4>Taxes Deducted/Collected at Source</h4></div>
          <div class="col-md-4"><span>Do not have any TDS/TCS entries?</span><button class="btn btn-secondary">Go-to-next</button></div>
        </div>
        <h5>Specify TDS/TCS which was deducted between the period of April 1, 2019 to March 31, 2020.</h5>
        <br>
        <p>Please Note : Tax deductions from your Salary by your employer should be entered here.</p>
        <button>Upload form26AS and avoid manual entry</button>
    <br>
    <br>
    <div class="card">
      <div class="card-body">
      <h5 class="card-title">TDS on Salary Income</h5>
      <br>
      <p>These are your Salary TDS entries. If you have more entries to add, please add them on Income from Salary Page.
      </p>
        
      </div>
    </div>
    <br>
    <br>

    <div class="card">
      <div class="card-body">
        <div class="row justify-content-between">
          <div class="card-title col-md-8"><h5>Non Salary TDS</h5></div>
          <div class="col-md-4"><button class="btn btn-secondary">+Add Entry</button></div>
        </div>
        <br>
      <p>In this section, add TDS entries on interest income, professional or consulting income, etc. (Other than TDS on Salary and Sale of Immovable Property).
      </p>
        
      </div>
    </div>
    <br>
    <br>

    <div class="card">
      <div class="card-body">
        <div class="row justify-content-between">
          <div class="card-title col-md-8"><h5>TDS on Sale/Rent of Immovable PropertyNon Salary TDS</h5></div>
          <div class="col-md-4"><button class="btn btn-secondary">+Add Entry</button></div>
        </div>
        <br>
        <p>If you sell/rent land, house, property or building etc (immovable property) etc, the buyer/tenant may have deducted TDS at the rate of 1% on the sale price of the property/rental and issued you a TDS certificate.You need to specify those TDS deduction details here.
      </p>
        
      </div>
    </div>
    <br>
    <br>

    <div class="card">
      <div class="card-body">
        <div class="row justify-content-between">
          <div class="card-title col-md-8"><h5>Taxes Collected at Source (TCS)</h5></div>
          <div class="col-md-4"><button class="btn btn-secondary">+Add Entry</button></div>
        </div>
        <br>
      <p>In this section, you can add TCS entries (For example - on purchase of cars).
      </p>
        
      </div>
    </div>
    

  </div>
    </div>
  </div>
    