<div class="steps" style="min-height: 800px;">
    <div class="progress">
    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">House-Property</div>
</div>
<div class="card">
<div class="card-body">
<h4 class="card-title">More deductions Under Section 80</h4>
<br>
<br>
<div class="card">
<div class="card-body">
<h5 class="card-title">Section 80D: Deductions for Medical Insurance</h5>
<p>Deductions for Medical Insurance or Preventive Health Check-Up fees or Medical Expenditure incurred by you.
</p>
<div class="row">
<div class="col-md-4"><span style="visibility: hidden;">hidden</span></div>
<div class="col-md-4">For Self and Family</div>
<div class="col-md-4">For Parents</div>
</div>
<br>
<div class="row justify-content-end"><div class="col-md-4 ">
<select name="parents" >
<option value="below">Below 60 Years</option>
<option value="betage">60 to 79 Years</option>
<option value="above">Above 80 Years</option>
</select>
</div></div>
<br>
<div class="row">
<div class="col-md-4"><h5>Medical Insurance Premium</h5></div>
<div class="col-md-4"><input type="text"></div>
<div class="col-md-4"><input type="text"></div>
</div>
<br>
<p>Medical insurance premium paid by you for Self, Spouse, Dependent Children and Parents.</p>
<br>
<br>
<div class="row">
<div class="col-md-4"><h5>Preventive Health Check-Up Fees</h5></div>
<div class="col-md-4"><input type="text"></div>
<div class="col-md-4"><input type="text"></div>
</div>
<br>
<p>Health check-up expenses paid by you for Self, Spouse, Dependent Children and Parents.</p>

</div>
</div>
<br>
<div class="card">
<div class="card-body">
<h5 class="card-title">Section 80E - Education Loan on higher studies (Graduate or PostGraduate)</h5>
<p>You can claim tax deduction on the interest paid on an education loan for higher studies</p>
<div class="row">
<div class="form-group col-md-4">
<label for="country"><strong>Interest on higher education loan paid this year</strong></label>
</label>
<p>Interest paid by you on loan taken out by you. Loan can be for yourself or your spouse or your children </p>
<input type="text" class="form-control"  required>
</div>
</div>
</div>
</div>
<br>

<div class="card">
<div class="card-body">
<h5 class="card-title">Section 80CCC - Contribution to Pension Plan / Annuity Fund</h5>

<div class="row">
<div class="form-group col-md-4">
<label for="country"><strong>Contribution amount to Pension Plan / Annuity Fund for Section 80CCC</strong></label>
</label>
 <input type="text" class="form-control"  required>
</div>
</div>
</div>
</div>

<br>

<div class="card">
<div class="card-body">
<h5 class="card-title">Section 80CCD (1) and (1B) - Employee Contribution to New Pension Scheme (NPS).</h5>
<p>Employee's contribution to the New Pension System (NPS).</p>
<div class="row">
<div class="form-group col-md-4">
<label for="country"><strong>Contribution towards Section 80CCD(1)</strong></label>
</label>
<p>Please enter your own contribution to NPS.
  ClearTax will automatically split it into Section 80 CCD(1) and CCD(1B) in your tax return.
  The split will be optimised to give you maximum tax savings.</p>
<input type="text" class="form-control"  required>
</div>
</div>
</div>
</div>

<br>

<div class="card">
<div class="card-body">
<h5 class="card-title">Section 80CCD(2) - Employer Contribution in NPS</h5>

<div class="row">
<div class="form-group col-md-6">
<label for="country"><strong>Employers contribution towards NPS (upto 10% of Salary).</strong></label>
</label>
<input type="text" class="form-control"  required>
</div>
</div>
</div>
</div>




</div> 
</div>

</div>